<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="dashboard proyect"/>
    <meta name="author" content="i1b"/>

    <title>Operator Panel</title>
    
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    
    <!-- Table CSS -->
    <link href="css/tabla.css" rel="stylesheet" type="text/css"/>	
</head>


<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <a class="navbar-brand">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<div class="navbar-form navbar-right">
    		<a href="/index" class="btn btn-primary"> <span class="glyphicon glyphicon-log-out"></span> Log out</a>
    	</div>
	</div>
  </div>
</nav>


<!-- Page content -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" >
			<h1 class="page-header">Incidence Manager</h1>
		</div>
	</div>
</div>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="js/metisMenu.min.js"></script>
</body>
</html>
